.spinner-grow.text-warning {
  position: absolute;
  top: 50%;
  left: 50%;
}
.price {
  color: #f99417;
  font-size: 1.4rem;
}

.like {
  position: absolute;
  font-size: 1.6rem;
  top: 25px;
  right: 50px;
  transition: all 0.3s;
  color: #f99417;
  z-index: 111;
}

.like:hover {
  opacity: 0.8;
  cursor: pointer;
}

.btn-color {
  background-color: #f27a1a;
  color: #fff;
  transition: all 0.3s;
}

.btn-color:hover {
  opacity: 0.8 !important;
}
