<!-- Ürünler -->
<div *ngIf="!loading">
  <div *ngIf="products.length > 0; else noProduct">
    <ng-template
      [ngTemplateOutlet]="productList"
      [ngTemplateOutletContext]="{ products: products }"
    ></ng-template>
  </div>
</div>
<ng-template #productList let-products="products">
  <div *ngFor="let product of products">
    <div class="card my-3 p-3 border-warning">
      <div class="row">
        <div class="col-3 d-relative">
          <img
            src="../../assets/images/{{ product.imgUrl }}"
            alt=""
            class="img-fluid rounded-start"
          />
        </div>
        <div class="col-9">
          <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="price mt-3">{{ product.price }} TL</p>
            <a
              routerLink="/products/{{ product.id }}"
              class="btn btn-color mt-4"
            >
              Ürünü İncele
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #noProduct>
  <div class="alert alert-warning">No Products</div>
</ng-template>

<div *ngIf="loading">
  <div class="spinner-grow text-warning" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
